<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{/css/default.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/office.css}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <title>Employees</title>

</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/office}"><img th:src="@{/img/CRSlogo1.png}" alt="Logo"></a>
        <div class="float-left">
            <a class="nav-link float-left" th:href="@{/booking}">Create booking</a>
            <a class="nav-link float-left" th:href="@{/booking/searchByUser}">Booking Search</a>
            <a class="nav-link float-left" th:href="@{/car}">Cars</a>
            <a class="nav-link float-left" th:href="@{/car/searchByModel}">Car Search</a>
            <a class="nav-link float-left" th:href="@{/employee/list}">Employees</a>
            <a class="nav-link float-left" th:href="@{/user}">Users</a>
        </div>
        <div class="float-right">
            <p sec:authorize="isAuthenticated()"><a class="nav-link float-right logout"
                                                                 th:href="@{/logout}">Logout</a>
            </p>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron addlistEmployee">
            <div class="float-right">
                <h3>
                    <span class="float-right">
                    <a th:href="@{/employee/add}" class="btn btn-success">Add Employee</a>
                </span>
                </h3>
            </div>
        </div>
        <div class="jumbotron employeeOffice">
            <div>
                <h3>List of Employees</h3>
            </div>
            <div th:if="${messageType} == 'success'" class="alert alert-success" role="alert">
                <span th:text="${message}"></span>
            </div>
            <div th:if="${messageType} == 'error'" class="alert alert-danger" role="alert">
                <span th:text="${message}"></span>
            </div>
            <div class="container-fluid" th:switch="${employees.size() > 0}">
                <h3 th:case="false">No employees available!</h3>

                <table th:case="true" class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Role</th>
                        <th scope="col">Branch</th>
                        <th scope="col">Booking</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee : ${employees}" th:if="${employee.role != T(com.crs.models.Role).CUSTOMER}">
                        <td th:text="${employee.getRole()}"></td>
                        <td th:text="${employee.getBranch().city}"></td>
                        <td th:text="${employee.getBookings()}"></td>
                        <td th:text="${employee.getUser().getFirstName()}"></td>
                        <td th:text="${employee.getUser().getLastName()}"></td>
                        <td th:text="${employee.getUser().getEmail()}"></td>
                        <td th:text="${employee.getUser().isActive()}"></td>
                        <td>
                            <a th:href="@{/employee/list/update/{id}(id=${employee.id})}" class="btn btn-warning"><i class="fa fa-edit"></i> Update</a>
                            <a th:if="${employee.getUser().isActive()} == true" th:href="@{/employee/list/delete/{id}(id=${employee.id})}" class="btn btn-danger fa fa-trash"> Delete</a>
                            <a th:if="${employee.getUser().isActive()} == false" th:href="@{/employee/list/restore/{id}(id=${employee.id})}" class="btn btn-primary fa fa-undo"> Restore</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<div class="fluid-container footer-container">
    <footer class="footer fluid-block">
        <div class="footer-sections-address">
            <h6><strong>Address</strong></h6>
            <p>Peterson 1, Dorpat Complex</p>
            <p>6392673, Tartu</p>
            <p>Estonia</p>
        </div>
        <div class="socialMediaFooter">
            <h6><strong>Follow us on social media for best deals</strong></h6>
            <ul class="footer-sections-links">
                <li><a href="#" class="white-text"><i class="fa fa-facebook fa-2x"></i></a></li>
                <li><a href="#" class="white-text"><i class="fa fa-twitter fa-2x"></i></a></li>
                <li><a href="#" class="white-text"><i class="fa fa-linkedin fa-2x"></i></a></li>
                <li><a href="#" class="white-text"><i class="fa fa-instagram fa-2x"></i></a></li>
                <li><a href="#" class="white-text"><i class="fa fa-pinterest fa-2x"></i></a></li>
                <li><a href="#" class="white-text"><i class="fa fa-youtube fa-2x"></i></a></li>
            </ul>
        </div>
    </footer>
    <div class="copyright fluid-block "><strong>Copyright &copy; CRS OÜ - 2020 </strong></div>
</div>

<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"
        type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"
        type="text/javascript"></script>

</body>
</html>
