<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" type="text/css"/>
    <link href="../../static/css/office.css" rel="stylesheet" th:href="@{/static/css/office.css}"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <title>Branches</title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/office}">CRS</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link float-right" href="/booking">Bookings <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link float-right" href="/car" th:href="@{/car}">Cars</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link float-right" href="/branch"  th:href="@{/branch}">Branches</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link float-right" href="/employee"  th:href="@{/employee}">Employees</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link float-right" href="/customer"  th:href="@{/customer}">Customers</a>
                </li>
                <li class="nav-item float-right">
                    <a class="nav-link" href="/revenue" th:href="@{/templates/revenue}">Revenue</a>
                </li>
            </ul>
        </div>
        <div class="floatRight">
            <p class="my-5" sec:authorize="isAuthenticated()"><a class="btn btn-primary float-right logout"
                                                                 th:href="@{/logout}">Logout</a>
            </p>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron bookingsOffice">

            <h3 class="display-3">List of branches
                <span class="float-right">
                    <a href="/" th:href="@{/add-branch}" class="btn btn-success">Add Branch</a>
                </span></h3>
            <div th:if="${messageType} == 'success'" class="alert alert-success" role="alert">
                <span th:text="${message}"></span>
            </div>
            <div th:if="${messageType} == 'error'" class="alert alert-danger" role="alert">
                <span th:text="${message}"></span>
            </div>
            <div class="container-fluid" th:switch="${branches.size() > 0}">
                <h3 th:case="false">No branches available!</h3>
                <table th:case="true" class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Address</th>
                        <th scope="col">City</th>
                        <th scope="col">Active</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="branch : ${branches}">
                        <td th:text="${branch.id}"></td>
                        <td th:text="${branch.streetAddress}"></td>
                        <td th:text="${branch.city}"></td>
                        <td th:text="${branch.isActive()}"></td>
                        <td>
                            <a th:href="@{/branch/update/{id}(id=${branch.id})}" class="btn btn-warning"><i class="fa fa-edit"></i> Update</a>
                            <a th:if="${branch.active} == true" th:href="@{/branch/delete/{id}(id=${branch.id})}" class="btn btn-danger">Delete</a>
                            <a th:if="${branch.active} == false" th:href="@{/branch/restore/{id}(id=${branch.id})}" class="btn btn-primary">Restore</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="fluid-container footer-container">
    <footer class="footer fluid-block">
        <div class="footer-sections-address">
            <h5><strong>Address</strong></h5>
            <p>Peterson 1, Dorpat Complex</p>
            <p>6392673, Tartu</p>
            <p>Estonia</p>
        </div>
        <div class="socialMediaFooter">
            <h4>Follow us on social media for best deals</h4>
            <ul class="footer-sections-links">
                <li><a href="#" class="white-text"><i class="fa fa-facebook fa-3x"></i></a></li>
                <li><a href="#" class="white-text"><i class="fa fa-twitter fa-3x"></i></a></li>
                <li><a href="#" class="white-text"><i class="fa fa-linkedin fa-3x"></i></a></li>
                <li><a href="#" class="white-text"><i class="fa fa-instagram fa-3x"></i></a></li>
                <li><a href="#" class="white-text"><i class="fa fa-pinterest fa-3x"></i></a></li>
                <li><a href="#" class="white-text"><i class="fa fa-youtube fa-3x"></i></a></li>
            </ul>
        </div>
    </footer>
    <div class="copyright fluid-block "><strong>Copyright &copy; CRS OÜ - 2020 </strong></div>
</div>

<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"
        type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"
        type="text/javascript"></script>

</body>
</html>
