body {
    background-color: #8bd0fb;
    margin: 0;
}

ul {
    list-style-type: none;
}

.nav-item, .nav-link, .dropdown-item {
    font-weight: bolder;
    text-decoration: none;
}

.navbar-custom, #navbarSupportedContent, .dropdown-menu {
    background-color: rgb(33, 33, 33) !important;
}

.navbar {
    margin: 0;
    position: fixed;
    top: 0;
    width: 100% !important;
    max-width: 100%;
    background-color: rgb(33, 33, 33) !important;
    z-index: 5 !important;
    margin-bottom: 30px !important;
}

.navbar a {
    text-align: center;
    color: whitesmoke;
    padding-top: 0;
}

.navbar a:hover {
    background-color: #8bd0fb;
    color: black;
    text-decoration: none;
}

.navbar a:focus, .navbar a:after {
    background-color: #eee;
    color: black;
    text-align: center;
    text-decoration: none;
}

.dropdown-divider {
    color: grey;
}

.navbar .float-right, .branch .float-right {
    float: right !important;
    padding-right: 40px;
}

.navbar .float-left, .nav-link.float-left{
    float: left !important;
    padding-left: 5px !important;
    flex: 3;
}

.navbar .logout, .navbar .float-right, .float-right{
    float: right !important;
    margin-right: 40px !important;
    padding-right: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.jumbotron {
    padding-top: 10px !important;
    padding-bottom: 20px !important;
}

.bookings{
    margin-top: 80px !important;
    margin-bottom: 150px !important;
    max-width: 80%;
}

.branch {
    margin-top: 60px !important;
    max-width: 10% !important;
    max-height: 5% !important;
    float: right;
    padding: 5px !important;
}
form.bookings, .bookingListOffice, .bookingsOffice {
    width: 80%;
    max-width: 80%;
    margin-top: 100px !important;
}

form.bookings input[type=text] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid rgba(139, 208, 251, 0.3);
    float: left;
    width: 70%;
    background-color: rgba(139, 208, 251, 0.3);
}

form.bookings button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: whitesmoke;
    font-size: 16px;
    border: 2px solid #2196F3;
    border-left: none;
    cursor: pointer;
}

.bookings, .carousel .slide, .branch {
    max-width: 900px !important;
}

form.bookings button:hover {
    background: #0b7dda;
}

form.bookings::after {
    content: "";
    clear: both;
    display: table;
}


.listOfCars {
    min-height: 300px !important;
    max-width: 900px !important;
    margin-bottom: 150px !important;
    margin-top: 80px !important;
}
.carousel-caption{
    background-color: rgba(9, 9, 9, 0.44);
}

.socialMedia {
    max-height: 500px !important;
    max-width: 900px !important;
    align-items: center !important;
    text-align: center !important;
}

#carouselExampleCaptions {
    max-width: 880px !important;
}

input[type="checkbox"] {
    margin-right: 10px !important;
}

.footer.fluid-block {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    bottom: 0 !important;
    text-align: center !important;
    margin-top: 10px !important;
    padding-top: 10px !important;
    padding-bottom: -10px !important;
    width: 100%;
    max-width: 100%;
    background-color: rgb(33, 33, 33) !important;
    color: whitesmoke;
    z-index: 6 !important;
    clear: both;
}
.footer-sections-address{
    align-content: flex-start;
    text-align: left;
    float: left;
    margin-left: 100px;
    padding-left: 100px;
    flex: 1;
}
.footer-sections-address p{
    margin: 0 !important;
    padding: 0 !important;
    color: #007bff;
    font-weight: bold !important;

}

.socialMediaFooter {
    flex: 3;
    float: right;
    max-width: 500px !important;
    margin-right: 100px;
    padding-right: 100px;
    text-align: right;
    align-content: flex-end;
}
.footer-sections-links li{
    text-decoration: none;
    flex: fit-content;
    display: inline-block ;
}
.copyright{
    text-align: center;
    align-content: center;
    background-color: rgb(33, 33, 33) !important;
    color: whitesmoke;
    z-index: 6 !important;
    clear: both;
    width: 100%;
}
.footer-container{
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    bottom: 0;
    max-height: 20%;
    font-weight: 100;
}


