<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" type="text/css"/>
    <link href="../../static/css/office.css" rel="stylesheet" th:href="@{/static/css/office.css}"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <title>Add booking</title>

</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/office}">CRS</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link float-right" href="/booking">Bookings <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle float-right"
                       data-toggle="dropdown"
                       href="#" id="navbarDropdown" role="button">
                        Manage DB
                    </a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <a class="dropdown-item center" href="/booking">Bookings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item center" href="/branch">Branches</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item center" href="/employee">Employees</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item center" href="/customer">Customers</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="floatRight">
            <p class="my-5" sec:authorize="isAuthenticated()"><a class="btn btn-primary float-right logout"
                                                                 th:href="@{/logout}">Logout</a>
            </p>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron bookingsOffice">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <h3 class="display-3">Add Booking</h3>
                    <form action="#" th:action="@{/add-booking}" th:object="${booking}" method="post">
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('dateOfBooking')} ? 'has-error': ''">

                            <label for="dateOfBooking" class="control-label">Date of booking</label>

                            <input
                                    id="dateOfBooking" class="form-control" th:field="*{dateOfBooking}"/>
                            <p class="error-message"
                               th:each="error: ${#fields.errors('dateOfBooking')}"
                               th:text="${error}">Validation error</p>
                        </div>

                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('dateFrom')}? 'has-error':''">

                            <label for="date_from" class="control-label">Start date</label>

                            <input
                                    id="date_from" class="form-control" th:field="*{dateFrom}"/>
                            <p class="error-message"
                               th:each="error: ${#fields.errors('dateFrom')}"
                               th:text="${error}">Validation error</p>
                        </div>

                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('dateTo')}? 'has-error':''">

                            <label for="date_to" class="control-label">End date</label>

                            <input
                                    id="date_to" class="form-control" th:field="*{dateTo}"/>
                            <p class="error-message"
                               th:each="error: ${#fields.errors('dateTo')}"
                               th:text="${error}">Validation error</p>
                        </div>

                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('totalPrice')}? 'has-error':''">

                            <label for="total_price" class="control-label">Total price</label>

                            <input
                                    id="total_price" class="form-control" th:field="*{totalPrice}"/>
                            <p class="error-message"
                               th:each="error: ${#fields.errors('totalPrice')}"
                               th:text="${error}">Validation error</p>
                        </div>

                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('car')}? 'has-error':''">

                            <label for="car_id" class="control-label">Car</label>

                            <input
                                    id="car_id" class="form-control" th:field="*{car}"/>
                            <p class="error-message"
                               th:each="error: ${#fields.errors('car')}"
                               th:text="${error}">Validation error</p>
                        </div>

                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('customer')}? 'has-error':''">

                            <label for="customer_id" class="control-label">Customer</label>

                            <input
                                    id="customer_id" class="form-control" th:field="*{customer}"/>
                            <p class="error-message"
                               th:each="error: ${#fields.errors('customer')}"
                               th:text="${error}">Validation error</p>
                        </div>

                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('carRental')}? 'has-error':''">

                            <label for="car_rental_id" class="control-label">Car rental</label>

                            <input
                                    id="car_rental_id" class="form-control" th:field="*{carRental}"/>
                            <p class="error-message"
                               th:each="error: ${#fields.errors('carRental')}"
                               th:text="${error}">Validation error</p>
                        </div>

                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('carReturn')}? 'has-error':''">

                            <label for="car_return_id" class="control-label">Car return</label>

                            <input
                                    id="car_return_id" class="form-control" th:field="*{carReturn}"/>
                            <p class="error-message"
                               th:each="error: ${#fields.errors('carReturn')}"
                               th:text="${error}">Validation error</p>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Add booking</button>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
