<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link href="../static/css/styles.css" th:href="@{../static/css/styles.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">


    <title>Index</title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand float-left" href="/booking">CRS</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Bookings <span class="sr-only float-right">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle float-right" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage DB
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/car">Cars</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/branch">Branches</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/employee">Employees</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/customer">Customers</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="floatRight">
            <p class="my-5" sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="btn btn-primary float-right">Logout</a>
            </p>
        </div>
    </nav>
    <div class="container">
        <h2 class="display-4">
           <!--  Welcome <span th:text="${user.firstName}"><strong></strong></span> -->
        </h2>
        <br/>
        <br/>
        <div class="jumbotron bookings">
            <div>
                <h3>Search for</h3>
                <!--<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Booking Id" aria-label="Booking Id">
                </form>-->
                <form class="bookings" action="#">
                    <input type="text" placeholder="Bookings" name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                <br/>
                <h3 class="display-3"><span class="float-right"><a href="/booking/add" class="btn btn-success">ADD</a> </span>
                </h3>
            </div>
        </div>

        <div class="jumbotron bookings">
            <div>
                <h3>Booking List</h3>
                <h3 class="display-3"><span class="float-right"><a href="/booking/add" class="btn btn-success">ADD</a> </span>
                </h3>
                <br/>
            </div>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Booking Id</th>
                    <th scope="col">Date</th>
                    <th scope="col">End date</th>
                    <th scope="col">Is Active</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <!--<tr th:each="booking : ${bookings}">
                    <th scope="row" th:text="${booking.id}></th>
                    <td th:text="${booking.dateOfBooking}></td>
                    <td th:text="${booking.dateOfBooking}></td>
                    <td th:text="${booking.customer}></td>
                    <td th:text="${booking.car}></td>
                    <td th:text="${booking.dateFrom}></td>
                    <td th:text="${booking.dateTo}></td>
                    <td th:text="${booking.carRental}></td>
                    <td th:text="${booking.carReturn}></td>
                    <td th:text="${booking.totalPrice}></td>
                    <td th:text="${booking.status}></td>
                    <td>
                    <a th:if="${booking.active} == true" th:href="@{/rental/create/{id}(id=${rental.id})}" class="btn btn-primary">Rental</a>
                    <a th:if="${booking.active} == true" th:href="@{/return/create/{id}(id=${return.id})}" class="btn btn-primary">Return</a>
                    </td>-->
                </tr>
                </tbody>
            </table>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>


<!-- Footer -->
<footer class="center">
    <p class="flow-text"><strong> &copy; CRS OÜ - 2020 </strong></p>
</footer>


<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
