<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{/css/office.css}" type="text/css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <title>Office</title>

</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/office}">CRS</a>
        <div class="float-left">
            <a class="nav-link float-left" href="/booking">Bookings <span class="sr-only">(current)</span></a>
            <a class="nav-link float-left" th:href="@{/car}">Cars</a>
            <a class="nav-link float-left" th:href="@{/branch}">Branches</a>
            <a class="nav-link float-left" th:href="@{/employee}">Employees</a>
            <a class="nav-link float-left" th:href="@{/user}">Users</a>
        </div>
        <div class="floatRight">
            <p class="my-5" sec:authorize="isAuthenticated()"><a class="btn btn-primary float-right logout"
                                                                 th:href="@{/logout}">Logout</a>
            </p>
        </div>
    </nav>
    <div class="container">
        <!--<h2 class="display-4">
                        Welcome <span th:text="${}"><strong></strong></span>
        </h2>-->
        <div class="jumbotron branch">
            <div class="branch float-right">
                <h3>
                    <span class="float-right">
                    <a href="/" th:href="@{/branch/add-branch}" class="btn btn-success">Add Branch</a>
                </span>
                </h3>
            </div>
        </div>

        <div class="jumbotron bookingsOffice">
            <div>
                    <span class="float-right">
                    <a href="/" th:href="@{/add-booking}" class="btn btn-success">Add Booking</a>
                </span>
                <br/>
            </div>
        </div>
        <div class="jumbotron bookingListOffice">
            <div>
                <h3>Booking List
                </h3>
            </div>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Booking Id</th>
                    <th scope="col">Date</th>
                    <th scope="col">Client</th>
                    <th scope="col">Car</th>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                    <th scope="col">Is Active</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <!--<tr th:each="booking : ${bookings}">
                    <th scope="row" th:text="${booking.id}></th>
                    <td th:text="${booking.dateOfBooking}></td>
                    <td th:text="${booking.dateOfBooking}></td>
                    <td th:text="${booking.customer}></td>
                    <td th:text="${booking.car}></td>
                    <td th:text="${booking.dateFrom}></td>
                    <td th:text="${booking.dateTo}></td>
                    <td th:text="${booking.carRental}></td>
                    <td th:text="${booking.carReturn}></td>
                    <td th:text="${booking.totalPrice}></td>
                    <td th:text="${booking.status}></td>
                    <td>
                    <a th:if="${booking.active} == true" th:href="@{/rental/create/{id}(id=${rental.id})}" class="btn btn-primary">Rental</a>
                    <a th:if="${booking.active} == true" th:href="@{/return/create/{id}(id=${return.id})}" class="btn btn-primary">Return</a>
                    </td>
                </tr> -->
                </tbody>
            </table>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>

    </div>
</div>

<!-- Footer -->
<div class="fluid-container footer-container">
    <footer class="footer fluid-block">
        <div class="footer-sections-address">
            <h6><strong>Address</strong></h6>
            <p>Peterson 1, Dorpat Complex</p>
            <p>6392673, Tartu</p>
            <p>Estonia</p>
        </div>
        <div class="socialMediaFooter">
            <h6><strong>Follow us on social media for best deals</strong></h6>
            <ul class="footer-sections-links">
                <li><a href="#" class="white-text"><i class="fa fa-facebook fa-2x"></i></a></li>
                <li><a href="#" class="white-text"><i class="fa fa-twitter fa-2x"></i></a></li>
                <li><a href="#" class="white-text"><i class="fa fa-linkedin fa-2x"></i></a></li>
                <li><a href="#" class="white-text"><i class="fa fa-instagram fa-2x"></i></a></li>
                <li><a href="#" class="white-text"><i class="fa fa-pinterest fa-2x"></i></a></li>
                <li><a href="#" class="white-text"><i class="fa fa-youtube fa-2x"></i></a></li>
            </ul>
        </div>
    </footer>
    <div class="copyright fluid-block "><strong>Copyright &copy; CRS OÜ - 2020 </strong></div>
</div>


<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"
        type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"
        type="text/javascript"></script>

</body>
</html>
